.brandName {
  width: 50px;
  height: 100px;
}
.mLogo {
  width: 100%;
}
.navbar {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  color: white;
}
.navLink > ul {
  display: flex;
}
.navLink > ul > li {
  list-style: none;
}

.navLink > ul > li > a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
  font-family: sans-serif;
  font-weight: bold;
}
.toggleBtn {
  position: absolute;
  top: 0.75rem;
  right: 25%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 23px;
  height: 21px;
}

@media (max-width: 800px) {
  .brandName {
    width: 50px;
    height: 61px;
    position: relative;
    left: 40px;
  }
  .navHeader {
    /* width: 100%; */
    z-index: 99;
  }
  .navbar {
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    transition: all 1s;
    /* background: black; */
    /* z-index: 999; */
  }
  .navLink > ul {
    width: 100%;
    flex-direction: column;
  }
  .toggleBtn {
    display: inline-block;
    left: 85%;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .navLink {
    width: 100%;
    height: var(--navh);
    padding: 100px;
    transition: all 1s;
    /* display: none; */
    position: relative;
    -webkit-clip-path: circle(0.2% at 100% 0);
    clip-path: circle(0.2% at 100% 0);
    background: linear-gradient(1deg, black, #321676);
    top: -8vmax;
  }
  .navLink > ul > li > a {
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .brandName {
    width: 50px;
    position: relative;
    left: 40px;
    padding: 7px;
    top: -21px;
    left: 10px;
  }
}
